<table class="tx-pongback" >
	<tr>
		<td>
			<f:translate key="tx_pongback_domain_model_pingback.source_link" />
		</td>
		<td>
			{pingback.sourceLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pongback_domain_model_pingback.ping_client" />
		</td>
		<td>
			{pingback.pingClient}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pongback_domain_model_pingback.ping_ressource" />
		</td>
		<td>
			{pingback.pingRessource}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pongback_domain_model_pingback.target_link" />
		</td>
		<td>
			{pingback.targetLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pongback_domain_model_pingback.serialized_information" />
		</td>
		<td>
			{pingback.serializedInformation}
		</td>
	</tr>
</table>