/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.02.2014, 15:48:53
    Author     : Michael
*/
.tx_pongback {
    display: inline-block;
}

.tx_pongback_text {

    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: auto 0;
    text-decoration: underline;
}

#pongbackFrontend {
    display: inline-table;
    margin: 0 auto;

    text-align: center;

    text-decoration: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

#pongbackFrontend th {

    text-spacing: space-start;

}

#pongbackFrontend tr {
    display: table-row-group;

}

#pongbackFrontend td {
    padding: 5px;

}

#pongbackBackend {

    display: inline-table;
    margin: 0 auto;

    text-align: center;

    text-decoration: none;
}
